{% load static %}

<script src="{% static 'landing/js/jquery.min.js' %}"></script>
<script src="{% static 'landing/js/popper.min.js' %}"></script>
<script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
<script src="{% static 'landing/js/bootstrap.min.js.map' %}"></script>

<script type="text/javascript"  src="{% static 'landing/js/jquery.mCustomScrollbar.js' %}"></script>
<script src="{% static 'landing/js/alertify.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'landing/js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/scrollbar.js' %}"></script>
<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/chat.js' %}"></script>
<script type="text/javascript" src="{% static 'landing/js/script.js' %}"></script>
<script src="{% static 'landing/js/custom.js' %}"></script>
